<nav aria-label="Page navigation example">
	<ul class="pagination">
		<li class="page-item"
		[ngClass]="{disabled: currentPage === 0}">
			<a href="" class="page-link">Prev</a>
		</li>
	  	<li class="page-item" *ngFor="let image of images; let i = index"
		[ngClass]="{active: i === currentPage}"
		>
			<a (click)="currentPage = i" class="page-link" href="#">{{i + 1}}</a>
		</li>
		<li class="page-item" [ngClass]="{disabled: currentPage === images.length - 1 }">
			<a href="" class="page-link">next</a>
		</li>
	</ul>
  </nav>